:root {
    --aside-width: 30%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

aside {
    height: 100%;
    width: var(--aside-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.personality {
    height: 45%;
    width: 100%;
}

.avatarContainer {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer h1 {
    font-size: 1.8em;
}


.avatar {
    height: 90%;
    border-radius: 50%;
}

nav {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration:none;
    color: black;
    opacity: 70%;
    font-size: 1.3em;
}

nav a:hover {
    opacity: 100%;
}

.downloadCvSection {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes cvHover {
    to {
        background-color: black;
        color: white;
    }
}

.downloadCvSection button:hover {
    animation: cvHover 0.2s linear both;
}

.downloadCvSection button {
    border: 1px solid black;
    border-radius: 20px;
    background: transparent;
    box-shadow: none;

    height: 70%;
    width: 45%;
    font-size: 1.3em;
    color: black;
}

.contacts {
    background-color: white;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contacts a img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

main {
    margin-left: var(--aside-width);
    font-size: 28px;
}

.section {
    height: 100vh;
}

.section_about {
    background-color: #f3faff;
}


.section_education {
    background: blue;
}

.section_experience {
    background: coral;
}

.section_skills {
    background-color: #9779ec;
}
